@charset "ISO-8859-1";
/* CSS Document */

#contenedor {
  width: 960px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-image: url("/home/relezcano/LinkPage/imagenes/fondo3.jpg");
  border-top: 3px solid lightblue;
  border-right: 3px solid lightblue;
  border-left: 3px solid lightblue;
  border-bottom: 3px solid lightblue;
}
.titulo {
  font-size: 60px;
  color: mediumspringgreen;
  text-align: center;
  font-family: vintage;
}

.subtitulo {
  font-size:30px;
  color:darkturquoise;
  text-align: center;
  font-family: verdana;
}

.parrafo {
  font-size: 20px;
  color: white;
  text-align: center;
}

.google {
  backgruond-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 200px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 170px;
  float: left;
  margin-align: left;

}

.facebook {
  width: 200px;
  margin-align: center;
  float: right;
  margin-top: 0px;
  margin-right: 170px;
  margin-bottom: 0px;
  margin-left: auto;
}

.gmail {
  background-color: white;
  padding-top: 8px;
  padding-bottom: 9px;
  height: 80px;
  width: 200px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
 margin-align: right;
}

.hotmail {
  background-color: white;
  height: 70px;
  width: 200px;
  padding-top: 25px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom:10px;
  margin-left: auto;
  float: none;
  }

.yahoo {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 200px;
  height: 80px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 170px;
  float: left;
  margin-align: left;

}

.youtube {
  width: 200px;
  margin-top: 0px;
  margin-right: 170px;
  margin-bottom: 0px;
  margin-left: auto;
  float: right;

}

.pelis {
  background-color: white;
  padding-top: 1px;
  width: 200px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

#piepag {
  width: 960px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-image: url("/home/relezcano/LinkPage/imagenes/fondo3.jpg");
}
